Q1- Given a string s = "2025-02-15" (a date in YYYY-MM-DD format), extract:
     
*   The year (2025)
*   The month (02)
*   The date (15)

In [ ]:
s="2025-02-15"
year=s[0:4]
month=s[5:7]
date=s[8:10]
print("Year: ",year)
print("Month: ",month)
print("Date: ",date)

Year:  2025
Month:  02
Date:  15

Q2- Write a Python program to extract the domain name from an email address. For example, if email = "user@example.com", the output should be "example.com".

In [ ]:
mail=str(input("Enter the mail: "))
domain=mail.split("@")[1]
print("Domain: ",domain)

Enter the mail: aditya@gmail.com
Domain:  gmail.com

Q3- Given a string s = "Product_ID: 12345", extract the numeric product ID (12345).

In [ ]:
s="Product_ID:12345"
Numeric_ID=s.split(":")[1]
print("Numeric_ID: ",Numeric_ID)

Numeric_ID:  12345

In [ ]:
# Q4- Write a Python program to remove leading and trailing whitespace from a string. For example, if s = "   data_science  ", the output should be "data_science".

In [ ]:
s="      data_science   "
print(s.strip())

data_science

Q5- Given a string s = "Temperature: 25.6°C", extract the numeric temperature value (25.6).

In [ ]:
s="Temperature:25.6°C"
print(s[12:16])

25.6

Q6- Write a Python program to split a full name into first and last names. For example, if name = "John Doe", the output should be "John" and "Doe".

In [ ]:
Name=str(input("Enter full name: "))
First_Name=Name.split(" ")[0]
Last_Name=Name.split(" ")[1]
print("First Name: {} and Last Name: {}".format(First_Name,Last_Name))

Enter full name: Aditya Singh
First Name: Aditya and Last Name: Singh

Q7- Create a string s = "Data Science" and:

*   Find its length.
*   Access the first and last character.
*   Slice the string to get "Data".

In [ ]:
s="Data Science"
print("Length of String: ",len(s))
print("First Character: ",s[0])
print("Last Character: ",s[-1])
print("Slice: ",s[0:4])

Length of String:  12
First Character:  D
Last Character:  e
Slice:  Data

Q8- Given the string s = "Python_Programming", use the replace() function to replace "_" with a space.

In [ ]:
s="Python_Programming"
print(s.replace("_"," "))

Python Programming

Q9- Write a Python program to check if a string s = "DataScience2023" is alphanumeric using the isalnum() function.

In [ ]:
s="DataScience2023"
if(s.isalnum()):
     print("Alphanumeric")

Alphanumeric

Q10- Given the string s = "hello world", capitalize the first letter of each word using the title() function.

In [ ]:
s="hello world"
print(s.title())

Hello World

Q11- Given the string s = "Data Science is Fun", use the split() function to split the string into a list of words.

In [ ]:
s="Data Science is Fun"
print(s.split(" "))

['Data', 'Science', 'is', 'Fun']

Q12- Write a Python program to count the number of occurrences of the letter "a" in the string s = "Data Analysis" using the count() function.

In [ ]:
s="Data Analysis"
print("Letter a: ",s.count("a"))

Letter a:  3

Q13- Given the string s = "2023-10-25", use the split() function to extract the year, month, and day into separate variables.

In [ ]:
s="2023-10-25"
year=s.split("-")[0]
month=s.split("-")[1]
day=s.split("-")[2]
print("Year: {}, Month: {} and Day: {}".format(year,month,day))

Year: 2023, Month: 10 and Day: 25

Q14- Write a Python program to check if a string s = "data_science" is a valid Python identifier using the isidentifier() function.

In [ ]:
s="data_science"
if(s.isidentifier()):
    print("Valid Identifier")

Valid Identifier

Q15- Write a Python program to remove all non-alphanumeric characters from a string s = "Data@Science#2023!".

In [ ]:
s="Data@Science#2023!"
for i in s:
  if(i.isalnum()):
    print(i)

D
a
t
a
S
c
i
e
n
c
e
2
0
2
3

Q16- Given the string s = "Order_12345: $25.99", extract:
<br>

*   The order ID (12345) using slicing.
*   The price (25.99) using slicing and the replace() function.

In [ ]:
s="Order_12345: $25.99"
Order_ID=s[6:11]
Price=s[14:19]
print("Order ID: {} and Price: {}".format(Order_ID,Price))

Order ID: 12345 and Price: 25.99

Q17- Write a Python program to extract all the words that start with a capital letter from a string s = "Data Science is Fun and Challenging".

In [ ]:
s="Data Science is Fun and Challenging"
for i in s.split(" "):
  if(i[0].upper()):
    print(i)

Data
Science
is
Fun
and
Challenging

Q18- Given the string s = "ID: 123, Name: John, Age: 30", extract the values for ID, Name, and Age into a dictionary using the split() and strip() functions.

In [ ]:
s="ID: 123, Name: John, Age: 30"
data={}
for item in s.split(","):
  key, value=item.split(":")
  data[key.strip()]=value.strip()
print(data)

{'ID': '123', 'Name': 'John', 'Age': '30'}

Q19- Write a Python program to extract all the numeric values from a string s = "The price is $25.99 and the discount is 10%".

In [ ]:
s="The price is $25.99 and the discount is 10%"
for value in s.split(" "):
  if(value.startswith("$") or value.startswith("1")):
    print(value)

$25.99
10%