# Create a tuple named my_tuple with elements (10, 20, 30, 40, 50).

In [4]:
my_tuple = (10,20,30,40,50)
print(my_tuple)

(10, 20, 30, 40, 50)

# Create a tuple with a single element (5,). Why is the comma necessary

In [ ]:
s = (1,)
type(s)

# we need the comma so that the compiler should understand the diffrence between tuple and int , without the comma the compiler will interpret it as integer value

tuple

# Given the tuple t = (1, 2, 3, 4, 5), access the third element

In [8]:
t = (1, 2, 3, 4, 5)
t[3]

4

# Use slicing to extract the last three elements of the tuple t = (10, 20, 30, 40, 50).

In [9]:
t[2:]

(3, 4, 5)

# Why can't you edit a tuple directly? Demonstrate by trying to change the second element of t = (1, 2, 3) to 10.

In [ ]:
t = (1,2,3)
t[1] = 10
print(t)
# since tuple is immutable in nature thats why we cannot change the tuple directly thats why it is throwing an error

TypeError: 'tuple' object does not support item assignment

# Concatenate two tuples t1 = (1, 2, 3) and t2 = (4, 5, 6) to create a new tuple

In [17]:
t1 = (1,2,3)
t2 = (4,5,6)

print(t1 + t2)

(1, 2, 3, 4, 5, 6)

# Delete the entire tuple t = (1, 2, 3) using the del keyword

In [18]:
del t1
# print (t1) --> this will throw an error

#	Find the length of the tuple t = (1, 2, 3, 4, 5)

In [19]:
t = (1,2,3,4,5)
len(t)

5

# Check if the value 3 exists in the tuple t = (1, 2, 3, 4, 5).

In [20]:
3 in t

True



# Repeat the tuple t = (1, 2) three times.

In [1]:
t = (1,2)
print (t*3)

(1, 2, 1, 2, 1, 2)

 # Use the count() method to count how many times 2 appears in the tuple t = (1, 2, 2, 3, 2, 4).

In [2]:
t = (1,2,2,3,2,4)
t.count(2)

3

# Use the index() method to find the position of the first occurrence of 3 in the tuple t = (1, 2, 3, 4, 3).

In [5]:
t = (1, 2, 3, 4, 3)
t.index(3)

2

#	Unpack the tuple t = (10, 20, 30) into three variables a, b, and c.

In [7]:
t =(10,20,30)
a,b,c = t
print(a,b,c)

10 20 30

#	Create a set named my_set with elements {1, 2, 3, 4, 5}.

In [8]:
my_set = {1,2,3,4,5}
print(my_set)

{1, 2, 3, 4, 5}

#	Create a set from a list [1, 2, 2, 3, 4, 4, 5]. What happens to the duplicate values

In [ ]:
my_list = [1,2,2,3,4,4,5]
my_set = set(my_list)
print(my_set)
# basivally what will happen is all the duplicate elements will be shown as output only one time or in other words because set doesnt support the duplicate values it will not show the duplicates present in the list

{1, 2, 3, 4, 5}

#	Why can't you access items in a set using indexing? Demonstrate by trying to access the first element of my_set = {1, 2, 3}.

In [ ]:
my_set = {1,2,3}
my_set[0] # --> this will throw an error because hashing is used in sets for putting the elements of set in memory thats why no indexing can be used because there is no proper way of accesing the memory which uses hashing

 # Why can't you edit individual items in a set? Demonstrate by trying to change the value 2 to 10 in the set my_set = {1, 2, 3}.

In [ ]:
my_set[1] = 10 #---> this will throw an error because sets are mutable like we can just add or remove the element but if it is the case of removing the element then we cannot do that

#	Add the element 6 to the set my_set = {1, 2, 3, 4, 5}.

In [ ]:
my_set = {1,2,3,4,5}
my_set.add(6)
print(my_set)

{1, 2, 3, 4, 5, 6}

#	Add multiple elements {6, 7, 8} to the set my_set = {1, 2, 3}.

In [ ]:
my_set.update([6,7,8])
print(my_set) #--> here my mistake was that i didnt put the elements inside list in update method or in other words "[]" yeh wale bracket lagana bhul gaya update method ke andar

{1, 2, 3, 4, 5, 6, 7, 8}

#	Remove the element 3 from the set my_set = {1, 2, 3, 4, 5} using the remove() method

In [20]:
my_set = {1,2,3,4,5}
my_set.remove(3)
print(my_set)

{1, 2, 4, 5}

#	Remove an element from the set my_set = {1, 2, 3} using the pop() method. What does pop() return

In [1]:
my_set = {1,2,3}
my_set.pop() # --> basically pop method in set is used to remove any random element from the set without any control of the user or the programmer

1

#	Perform a union of two sets set1 = {1, 2, 3} and set2 = {3, 4, 5}.
#	Perform an intersection of two sets set1 = {1, 2, 3} and set2 = {3, 4, 5}
#	Perform a symmetric difference between set1 = {1, 2, 3} and set2 = {3, 4, 5}.

In [25]:
set1 = {1,2,3}
set2 = {3,4,5}

print(set1 | set2)
print(set1 & set2)
print(set1 ^ set2)

{1, 2, 3, 4, 5}
{3}
{1, 2, 4, 5}

#	Perform a difference between set1 = {1, 2, 3, 4} and set2 = {3, 4, 5}.

In [26]:
set1 = {1,2,3,4}
set2 = {3,4,5}

print(set1 - set2)
print(set2 - set1)

{1, 2}
{5}

#	Use the len() function to find the number of elements in the set my_set = {1, 2, 3, 4, 5}.
#	Use the clear() method to remove all elements from the set my_set = {1, 2, 3}.

In [29]:
my_set = {1,2,3,4,5}
my_set_1 = {1,2,3}

len(my_set)
my_set_1.clear()
print(my_set_1)

set()

#	Create a frozen set from the set my_set = {1, 2, 3}. Try adding an element to the frozen set. What happens?

In [32]:
my_set_frozen = frozenset({1,2,3})
# basically we canot add or remove in the frozenset because frozenset are immutable in such a way that we cannot ad or remove the element also

#	Create a dictionary named my_dict with keys 'name', 'age', and 'city' and corresponding values 'Alice', 25, and 'New York'.

In [33]:
my_dict  = {
    'name' : 'Alice',
    'age'  : 25,
    'city' : 'New York'
}
print(my_dict)

{'name': 'Alice', 'age': 25, 'city': 'New York'}

#	Create a dictionary using the dict() constructor with keys and values as arguments

In [ ]:
my_dict_1 = dict({('name' , 'lakshit') ,('age' , 23)})
print(my_dict_1)

{'age': 23, 'name': 'lakshit'}

#	Access the value associated with the key 'age' in the dictionary my_dict = {'name': 'Alice', 'age': 25, 'city': 'New York'}.

In [36]:
my_dict['age']

25

#	Use the get() method to access the value associated with the key 'city' in the dictionary my_dict

In [37]:
my_dict.get('city')

'New York'

#	Add a new key-value pair 'gender': 'Female' to the dictionary my_dict = {'name': 'Alice', 'age': 25}.

In [38]:
my_dict['gender'] = 'Female'
print(my_dict)

{'name': 'Alice', 'age': 25, 'city': 'New York', 'gender': 'Female'}

#	Remove the key 'age' from the dictionary my_dict = {'name': 'Alice', 'age': 25, 'city': 'New York'} using the pop() method.

In [45]:
my_dict.pop('name')

'Alice'

#	Remove the last inserted key-value pair from the dictionary my_dict = {'name': 'Alice', 'age': 25, 'city': 'New York'} using the popitem() method.

In [47]:
my_dict.popitem()

('gender', 'Female')

#	Change the value associated with the key 'city' to 'Los Angeles' in the dictionary my_dict = {'name': 'Alice', 'age': 25, 'city': 'New York'}.

In [49]:
my_dict['city'] = 'Los Angeles'
print(my_dict)

{'city': 'Los Angeles'}

#	Check if the key 'age' exists in the dictionary my_dict = {'name': 'Alice', 'age': 25, 'city': 'New York'}.

In [51]:
my_dict = {'name': 'Alice', 'age': 25, 'city': 'New York'}
'age' in my_dict

True

# 	Use the keys() method to get all the keys from the dictionary my_dict.

In [52]:
for i in my_dict:
    print(i)

name
age
city

#	Use the values() method to get all the values from the dictionary my_dict.

In [55]:
my_dict.values()

dict_values(['Alice', 25, 'New York'])

#	Use the len() function to find the number of key-value pairs in the dictionary my_dict = {'name': 'Alice', 'age': 25, 'city': 'New York'}.

In [56]:
len(my_dict)

3

#	Use the clear() method to remove all key-value pairs from the dictionary my_dict

In [57]:
my_dict.clear()

#	Create a dictionary where the keys are numbers from 1 to 5 and the values are their squares using dictionary comprehension.

In [58]:
{i : i**2 for i in range(1,5)}

{1: 1, 2: 4, 3: 9, 4: 16}